/* Write your code here. */
.gallery-container {
  display: flex;
  justify-content: center;
}
.image-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 30px;
}
.image {
  border-radius: 12px;
}
.heading {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 500;
  margin-top: 24px;
}
.desc {
  color: #64748b;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
}
.thumbnail-list {
  list-style-type: none;
  display: flex;
  margin-right: 5px;
  flex-wrap: wrap;
  padding: 0px;
}
